body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #121213;
  color: #fff;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cell{
    width: 3.3rem;
    height: 3.3rem;
    line-height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid #9fa0a2;
    text-transform: uppercase;
    color: #fff;
    margin-right:5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}

.cell-close{
  background: #b49f39;
}

.cell-wrong{
  background: #3a3a3c;
}

#disabled{
  background: #3a3a3c;
}

.cell-correct{
  background: #538d4e;
}

.row{
  margin-bottom: 5px;
}

.board{
  text-align: center;
  max-width: 600px;
  margin: 0 auto 0;
  padding: 0 20px;
}

.game{
  margin-top: 20px;
}

h1{
  text-align: center;
  padding: 10px 20px;
  margin: 0 15px;
}

.keyboard {
  max-width: 700px;
  height: 300px;
  margin: 15px auto 60px;
  width: 100%;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 0 5px 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 5px 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 5px 5px;
}

.key {
  width: 2.5rem;
  height: 3rem;
  margin: 0 5px 5px;
  border-radius: 3px;
  display: grid;
  place-items: center;
  font-size: 13px;
  background-color: #818384;
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}
.wrong {
  background-color: #3a3a3c;
  pointer-events: none;
}

.correct{
  background-color: #538d4e;
}

.close{
  background-color: #b49f39;
}

.keyboardDisabled .key{
  pointer-events: none;
}

.gameResult{
  position: absolute;
  background: rgba(18, 17, 17,0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gameResult .gameContent{
  background: #000;
  max-width: 720px;
  margin: 0 auto;
  padding: 40px 30px;
  top: 50%;
  margin: 0 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100%);
  position: relative;
}

.gameResult .closeGame{
  text-align: right;
  cursor: pointer;
}

.bigbutton{
  background-color: #fff;
  padding: 10px 30px;
  color: #000;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bold;
}

.bigbutton:hover{
  color: #fff;
  background-color: #538d4e;
}